.target-title {

  display: flex;
  padding: 0 2rem 0 1rem;
  line-height: 1;
  justify-content: space-between;

  .text-lg {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
  }

  .text-md {
    font-size: 1.25rem;
  }

  .text-bold {
    font-weight: 900;
  }

  .text-gray {
    color: gray;
  }

  .icon {
    height: 6rem;
    padding: 0.5rem;
    position: relative;
    top: -4px;
  }

  .like-col {
    align-content: center;
    max-width: 2rem;
    color: #333;
  }

  .liked {
    color: var(--ion-color-primary);
  }
}