@import "src/theme/variables.scss";

.target-data {
  display: flex;
  line-height: 1.15;

  .scoreText {
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 0.25rem;

    span {
      color: var(--ion-color-primary);
    }
  }

  .text-sm {
    font-size: 0.85rem;
    color: gray;
    margin-bottom: 0.15rem;
  }
}