<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/main/home">
     <i class="fas fa-home fa-lg"></i>
      <ion-label class="bottom-label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="targets" href="/main/targets">
      <i class="fas fa-bullseye fa-lg"></i>
      <ion-label class="bottom-label">Targets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/main/tab3">
      <i class="fas fa-tools fa-lg"></i>
      <ion-label class="bottom-label">Tools</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/main/tab3">
      <i class="fas fa-box-open fa-lg"></i>
      <ion-label class="bottom-label">Products</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
