<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/targets"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Target Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Target Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="target-details">
    <app-date-location-widget [date]="date" (click)="openDatePicker()"/>
    <app-target-title [target]="target" (targetLiked)="likeTarget($event)" />
    <div class="info-row">
      <div>
        <app-target-data [target]="target" [score]="updatedScore"/>
      </div>
      <div style="flex: 0 0;">
        <app-moon-status [sky]="plan?.sky" />
      </div>
    </div>
    <div class="info-row" *ngIf="!isBrightObject">
      <app-moon-impact [impact]="plan?.moonImpact" />
    </div>
    <div class="info-row">
      <app-visibility-window style="width: 100%;" [plan]="plan" />
    </div>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar class="target-details">
    <div class="actions-row">
      <div>
        <ion-button *ngIf="!hasPlanForSession" (click)="createNewPlan()">
          <i class="fas fa-thumbtack"></i>
          <span>Create Plan</span>
        </ion-button>
        <ion-button *ngIf="hasPlanForSession" (click)="openPlan()">
          <i class="fas fa-eye"></i>
          <span>View Plan</span>
        </ion-button>
      </div>
      <div>
        <ion-button fill="outline" (click)="openLinks(target)">
          <i class="fas fa-link"></i>
          <span>Links</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

<!-- Modal com o date picker -->
<ion-modal [isOpen]="isDateModalOpen" (didDismiss)="closeDatePicker()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Select date</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeDatePicker()">
            <i class="fas fa-times fa-lg"></i>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <app-week-date-picker [initialDate]="date" (dateSelected)="onDatePicked($event)">
      </app-week-date-picker>
    </ion-content>
  </ng-template>
</ion-modal>