<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/targets"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Target Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Target Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="target-details">
    <app-date-location-widget />
    <app-target-title [target]="target" (targetLiked)="likeTarget($event)" />
    <div class="info-row">
      <div>
        <app-target-data [target]="target" />
      </div>
      <div style="flex: 0 0;">
        <app-moon-status [sky]="plan?.sky" />
      </div>
    </div>
    <div class="info-row" *ngIf="!isBrightObject">
      <app-moon-impact [impact]="plan?.moonImpact" />
    </div>
    <div class="info-row">
      <app-visibility-window style="width: 100%;" [plan]="plan" />
    </div>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar class="target-details">
    <div class="actions-row">
      <div>
        <ion-button>
          <i class="fas fa-thumbtack"></i>
          <span style="margin-left: 0.5rem;">Create Plan</span>
        </ion-button>
      </div>
      <div>
        <ion-button fill="outline" (click)="openLinks(target)">
          <i class="fas fa-link"></i>
          <span style="margin-left: 0.5rem;">Links</span>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>