.target-details {
  .info-row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1rem 2rem;
  }

  .actions-row {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }
}