@import "src/theme/variables.scss";

.target-page {
  margin: 1rem 1rem;

  .icon {
    width: 3rem;
    margin-right: 0.25rem;
  }

  .result {
    margin-top: 1rem;
  }

  .no-targets {
    text-align: center;
    margin: 2rem;
  }

  .like-filter {
    color: gray;

    .selected {
      color: var(--ion-color-primary);
    }
  }
}