@import "src/theme/variables.scss";

.target-card {
  border: solid 1px #333;
  border-radius: 1rem;
  margin-bottom: 0.5rem;

  h2 {
    font-weight: 900;
  }

  .icon {
    width: 3rem;
    margin-right: 0.5rem;
  }

  .score {
    font-weight: 900;
    font-size: 1.75rem;
    position: relative;
    top: -0.15rem;
  }

  .score-col {
    max-width: 2.5rem;
  }

  .like-col {
    max-width: 1.5rem;
    color: #333;
  }

  .liked {
    color: var(--ion-color-primary);
  }
}