<ion-item class="target-card">
  <img [src]="target?.group | targetIcon" alt="{{ target?.type }}" class="icon" (click)="selectTarget(target)">
  <ion-label (click)="selectTarget(target)">
    <h2>{{ target?.familiarName || target?.catalogueEntry }}</h2>
    <p>{{ target?.catalogueEntry }}
    <p>{{ target?.type }}</p>
  </ion-label>
  <ion-label class="score-col" (click)="selectTarget(target)">
    <h1 class="score">{{ target?.score }}</h1>
  </ion-label>
  <ion-label class="like-col" [class.liked]="target?.liked" (click)="likeTarget(target)">
    <i class="fas fa-heart"></i>
  </ion-label>
</ion-item>