@import "src/theme/variables.scss";

.today-widget {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .main-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .sun-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
    gap: 1rem;
  }

  .text-lg {
    font-size: 3rem;
  }

  .text-md {
    font-size: 2rem;
  }

  .text-sm {
    font-size: 1rem;
  }

  .text-bold {
    font-weight: 900;
  }

  .mr1 {
    margin-right: .25rem;
  }
}