.plans-page {
    margin: 1rem;

    .session-label {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        font-size: 1.25rem;
        align-items: center;
        margin: 1rem;
    }
}