<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plans</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="plans-page">
    <div class="session-label">
      <div>
        <i class="fas fa-thumbtack fa-lg"></i>
      </div>
      <div>
        Manage your capture plans and prepare for your next night of observation. Your saved plans are listed below.
      </div>
    </div>

    <ion-list lines="none" *ngIf="planItems().length; else empty">
      <app-plan-card *ngFor="let item of planItems()" [target]="item.target" [userPlan]="item.plan"
        (userPlanSelect)="openUserCapturePlan($event)" (userPlanDelete)="deleteUserCapturePlan($event)" />
    </ion-list>

    <ng-template #empty>
      <div class="empty-container">
        <p>No plans saved yet.</p>
      </div>
    </ng-template>
  </div>
</ion-content>