.visibility-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .small-gray {
    font-size: 0.75rem;
    color: gray;
  }
}